:where(body, div, span, a, p, h1, h2, h3, h4, h5, h6, button, table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td, section, header, main, footer, nav, ol, ul, li, details, summary) {
    all: unset;
    display: revert;
}

:where(*),
:where(*):before,
:where(*)::after {
    box-sizing: border-box;
}

:where(ol, ul, menu, summary) {
    list-style: none;
}

:where(a, button) {
    cursor: revert;
}

:where(table) {
    border-collapse: collapse;
}

body {
    display: block;
    overflow: hidden;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial, sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

body {
    color-scheme: light;
    color: #1a1a1a;
    background-color: #fbfbfb;
}

@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
        color: #ffffff;
        background-color: #272727;
    }
}

body {
    scroll-behavior: auto;
}

@media (prefers-reduced-motion: no-preference) {
    body {
        scroll-behavior: smooth;
    }
}

div#app {
    display: block;
    overflow: hidden;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}